// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$color-primary: '#2B2B2B';
$color-secondary: '#11ABB0';
$color-tertiary: '#0f0f0f';
