{{ partial "header" . }}

<body>

<!-- Header
================================================== -->
<header id="home">

	{{ partial "menu" . }}

	<div class="row banner">
		<div class="banner-text">
			<h1 class="responsive-headline">I'm Julien Liabeuf</h1>
			<h3>I'm a Bangkok-based
				<span>Business Developer</span>. I am a highly motivated, hard working individual. I always relish a challenge and seize the opportunity to apply my diverse skillset. <a class="smoothscroll" href="#about">Start scrolling</a>
				to learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
			<hr/>
			<ul class="social">
				{{ partial "social" . }}
			</ul>
		</div>
	</div>

	<p class="scrolldown">
		<a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
	</p>

</header> <!-- Header End -->

{{ partial "homepage/section-about" . }}
{{ partial "homepage/section-resume" . }}
{{ partial "homepage/section-cta" . }}
{{ partial "homepage/section-testimonial" . }}
{{ partial "homepage/section-contact" . }}

{{ partial "footer" . }}