<!-- Call-To-Action Section
================================================== -->
<section id="call-to-action">

	<div class="row">

		<div class="two columns header-col">

			<h1><span>My Blog.</span></h1>

		</div>

		<div class="seven columns">

			<h2><a href="https://julienliabeuf.com/?utm_source=resume&utm_medium=cta&utm_campaign=recruitment">Sometimes, I Write.</a></h2>
			<p>When time allows me, I write about technology, code, and WordPress stuff. You can check out my blog to see what I'm into and the products I develop.</p>

		</div>

		<div class="three columns action">
			<a href="https://julienliabeuf.com/?utm_source=resume&utm_medium=cta&utm_campaign=recruitment" class="button">Visit the Blog&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
		</div>

	</div>

</section> <!-- Call-To-Action Section End-->