<!-- Testimonials Section
================================================== -->
<section id="testimonials">

	<div class="text-container">

		<div class="row">

			<div class="two columns header-col">

				<h1><span>Client Testimonials</span></h1>

			</div>

			<div class="ten columns flex-container">

				<div class="flexslider">

					<ul class="slides">

						<li>
							<blockquote>
								<p>I hired Julien and his colleague from N2Clic to build my new website [...] He is quick, personable and reliable. [...] I would definitely recommend them to anyone who needs to build a website or application. These guys rock!</p>
								<cite>Jeremie Tisseau</cite>
							</blockquote>
						</li> <!-- slide ends -->

						<li>
							<blockquote>
								<p>They were very professional and efficient in the way they handled the development. They were able to provide good input and also quickly resolve requests as they arose.</p>
								<cite>Simon Philipp</cite>
							</blockquote>
						</li> <!-- slide ends -->

						<li>
							<blockquote>
								<p>Over the course of the last couple months, both Julien L. and Julien V. were extremely responsive, solution oriented, attentive to our objectives and tirelessly worked to exceed our expectations.</p>
								<cite>Pascal Zaklama</cite>
							</blockquote>
						</li> <!-- slide ends -->

					</ul>

				</div> <!-- div.flexslider ends -->

			</div> <!-- div.flex-container ends -->

		</div> <!-- row ends -->

	</div>  <!-- text-container ends -->

</section> <!-- Testimonials Section End-->