<!-- About Section
================================================== -->
<section id="about">

	<div class="row">

		<div class="three columns">

			<img class="profile-pic" src="images/profilepic.jpg" alt="Julien Liabeuf" width="120" height="120"/>

		</div>

		<div class="nine columns main-col">

			<h2>About Me</h2>

			<p>My name is Julien. I am a 29-year-old Frenchman currently living in Bangkok, Thailand. I've been self-employed for the best part of my work life. At my first «big» job, my boss, Marc, who was the company's CEO, taught me a great deal. I've been set off to a good start for my projects.</p>
			<p>As a former business owner, I look at the big picture and not only focus on the macro level of a project. I am used to working under pressure, and I am definitely a go-getter.</p>
			<p>As a developer, I have the propensity to anticipate problems early. This allows me to plan lots of possible outcomes to a situation. I am rational in the decision-making process and I am thorough in my work.</p>

			<div class="row">

				<div class="columns download">
					<p>
						<a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
					</p>
				</div>

			</div> <!-- end row -->

		</div> <!-- end .main-col -->

	</div>

</section> <!-- About Section End-->